.cart__container  {
    height: fit-content;
    width: 600px;
    border: 2px solid grey;
    background-color: #d9d9d9;
    border-radius: 10px;
}

.cart__header {
    font-weight: bold;
    text-align: center
}

.cart__items {
    display: block;
    padding-left: 50px;
    margin-bottom: 10px;
    justify-content: center;
}

.cart__item .cart__img{
    padding: 20px 20px;
    width: 500px;
    height: 330px;
    border-radius: 30px;
    text-align: center;
}
.cart__items .cart__text {
    font-size: 20px;
    text-align: center;
} 
.cart__payment {
    border-top: 1px dashed grey;
    text-align: center;
}


