@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #adadad;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 400;
}

.page-container {
  display: flex;
  justify-content: center;
  width: auto;
  min-height: 100vh;
}
